/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}
h3{
  font-size: 1.8em;
  color: #fe4918;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
.button{
  font-family: 'Oswald', sans-serif;
  background-color: #fe4918;
  padding: 10px 40px;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s;
  border: 2px solid #fe4918;
}
.button:hover{
  background-color: #e33000;
}

.button.transparente  {
  background-color: transparent;
  border: 2px solid #ffffff;
}
.button.transparente:hover  {
  border: 2px solid #fe4918;
}

.button.hollow,.button-hollow:hover{
background-color: white;
color: #fe4918;

}
.float-right{
  float: right;
}

h2::after {
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 30px;
  width: 100px;
  display: block;
}

.seccion {
  padding: 30px 0;
}

.seccion p {
  font-size: 1.2em;
  text-align: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/** global**/

.contenedor {
  width: 98%;
  margin: 0 auto;
}

@media only screen and (min-width:480px) {
  .contenedor {
    width: 95%;
  }
}

@media only screen and (min-width:768px) {
  .contenedor {
    width: 95%;
  }
}

@media only screen and (min-width:992px) {
  .contenedor {
    width: 90%;
    max-width: 1100px;
  }
}

/** HEADER **/

div.hero {
  background-image: url(../img/import.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}

div.contenido-header {
  padding-top: 40px;
}

@media only screen and (min-width:768px) {
  div.contenido-header {
    padding-top: 10px;
  }
}

nav.redes-sociales {
  text-align: center;
}

nav.redes-sociales a {
  color: #ffffff;
  font-size: 2em;
  margin-right: 20px;
}

nav.redes-sociales a:last-child {
  margin-right: 0;
}

div.informacion-quantumbe {
  text-align: center;
  color: #ffffff;
}

@media only screen and (min-width:768px) {
  div.informacion-quantumbe {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

div.informacion-quantumbe p {
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}

div.informacion-quantumbe p i {
  color: #fe4918;
  font-size: 1.4rem;
}

p.fecha {
  float: left;
}

p.ciudad {
  float: right;
  text-align: right;
}

h1.nombre-sitio {
  font-family: 'PT Sans', sans-serif;
}

p.slogan {
  text-transform: none!important;
}

h1.nombre-sitio {
  font-size: 6vw;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

@media only screen and (min-width:768px) {
  h1.nombre-sitio {
    font-size: 8vw;
    margin: 0;
  }
}

/** Barra **/

div.barra {
  background-color: #353535;
  padding: 20px 0;
}

div.logo {
  width: 80%;
  float: left;
}

div.logo img {
  width: 100%;
}

@media only screen and (min-width:768px) {
  div.logo {
    width: 33%;
  }
}

/** Nav Principal **/

nav.navegacion-principal {
  display: none;
  width: 100%;
}

nav.navegacion-principal a {
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

nav.navegacion-principal a:hover {
  background-color: #fe4918;
}

nav.navegacion-principal a:last-child {
  border: 2px solid #fe4918;
  color: #fe4918;
}

nav.navegacion-principal a:last-child:hover {
  color: #ffffff;
}

@media only screen and (min-width:768px) {
  nav.navegacion-principal {
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
  nav.navegacion-principal a {
    margin-right: 10px;
    padding: 10px 10px;
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 10px 0 0;
  }
}

/** Menu Movil **/

div.menu-movil {
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}

div.menu-movil:hover {
  cursor: pointer;
}

@media only screen and (min-width:768px) {
  div.menu-movil {
    display: none;
  }
}

div.menu-movil span {
  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}

/** talleres **/

section.programa {
  position: relative;
}

div.contenedor-video {
  max-width: 100%;
  overflow-x: hidden;
}

div.contenido-programa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.programa-evento {
  background-color: rgba(255, 255, 255, .8);
  padding: 15px;
  margin-top: 80px;
}

@media only screen and (min-width:768px) {
  div.programa-evento {
    width: 70%;
  }
}

@media only screen and (min-width:992px) {
  div.programa-evento {
    width: 50%;
  }
}

nav.menu-programa {
  width: 100%;
  border-bottom: solid 1px #fe4918;
  padding-bottom: 10px;
}

@media only screen and (min-width:768px) {
  nav.menu-programa {
    display: table;
  }
}

nav.menu-programa a {
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.5em;
}

@media only screen and (min-width:768px) {
  nav.menu-programa a {
    display: table-cell;
  }
}

nav.menu-programa a i, div.detalle-evento p i {
  color: #fe4918;
  font-size: 1.5em;
  margin-right: 10px;
}

section.proyectos-info{
  text-align: center;
  text-transform: uppercase;
}
/** detail evento **/
div.detalle-evento{
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 0 20px;
}

div.detalle-evento:nth-child(2){
  border:none;
}

div.detalle-evento p {
  margin-bottom: 20px;
  font-size: 20px;
}


/** equipo **/
ul.lista-equipo li{
  padding: 10px;
  float: left;
}
@media only screen and (min-width:480px) {
  ul.lista-equipo li{
   width: 50%;
  }
}
@media only screen and (min-width:768px) {
  ul.lista-equipo li{
   width: 33.3%;
  }
}

div.equipo{
  position: relative;
  overflow: hidden;
}
div.equipo img{
  max-width: 100%;
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: all .5s ease-in-out;
}
div.equipo:hover img{
  filter: grayscale(0%);
  transform: scale(1.1);
}
div.equipo p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin:0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100%;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fe4918;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
}

div.equipo:hover p {
  bottom: -80px;
  opacity: 0;
}
.parallax{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
div.contador{
  position: relative;
  height: auto;
}
div.contador{
  background-image: url(../img/bg-resumen.jpg);
  content: '';
}
ul.resumen-evento{
  position: relative;
  padding: 120px 0;
}
ul.resumen-evento li{
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #f2f2f2;
}
p.numero{
  color: #fe4918;
  font-size: 4rem;
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Oswald', sans-serif;
}
@media only screen and (min-width:768px) {
  ul.resumen-evento li{
    width: 25%;
  }
}

ul.lista-precios > li{
  padding:10px;
}
@media only screen and (min-width:768px){
  ul.lista-precios > li{
    float: left;
    width: 33.3%;
  }
}

div.tabla-precio{
  border:1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
  transition:all .3s ease;  
}
div.tabla-precio:hover{
  transform: scale(1.1);
  border: 1px solid #fe4918;
  box-shadow:  0px 0px 50px #666;
}
div.tabla-precio ul li{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #868686;
  line-height: 26px;
}
div.tabla-precio ul li:before{
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 20px;
  color: green;
  -webkit-font-smoothing:antialiased;
  content: '\f00c';
}
div.tabla-precio h3{
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
}
div.tabla-precio p.numero{
  color: #000;
  margin: 20px 0;
}


/** testimoniales **/

div.testimoniales{
  padding-bottom: 20px;

}
div.testimonial{
  padding: 5px;
}
@media only screen and (min-width:768px){
  div.testimonial{
    float: left;
    width: 33.3%;
  }
}
blockquote{
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  position: relative;
  margin: 0 0 10px 0;
}
blockquote p{
  text-align: justify!important;
  font-size: 1em!important;
  font-family: 'Pt Sans', sans-serif;
  padding: 0 20px 0 65px;
}
blockquote p::before{
  content: '\201c';
  position: absolute;
  left: 13px;
  top: -6px;
  font-size: 8rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #fe4918;
}

footer.info-testimonial{
  padding: 0;
}
footer.info-testimonial img{
  float: left;
  width: 20%;
  border-radius: 50%;
  margin-left: 20px;  
}
footer.info-testimonial cite{
  text-align: left;
  color: #fe4918;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width:66.6%;
  float: right;
  font-weight: bold;
  font-style: normal;
}

footer.info-testimonial cite span{
  color: #000;
  display: block;
  text-transform: none;
  margin-top: 5px;
}

footer.info-testimonial{
  background-color: #ffffff;
}

/** unirme a la comunidad **/
div.newsletter{
  position: relative;
  height: auto;
}
div.newsletter{
  background-image: url(../img/bg-newsletter.jpg);
  content:'';
}
div.newsletter .contenido {
  padding: 100px 0;
  color: #ffffff;
  text-align: center;
  position: relative;
}
div.newsletter .contenido p{
  font-size: 1.2em;
  text-transform: lowercase;
}

div.newsletter .contenido h3{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 7vw;
  font-family: 'PT Sans', sans-serif;
}


/** cuenta regresiva **/
div.cuenta-regresiva ul li{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.7rem;
  text-align: center;
}

@media only screen and (min-width:768px){
  div.cuenta-regresiva ul li{
   width: 25%;
   float: left;
  }
}

/** footer **/
footer{
  background-color: #353535;
  padding-top: 40px;
  margin-top: 20px;
}
footer .contenedor > div{
  color: #ffffff;
  padding: 0px 20px;
  font-size: 12px;
}

@media only screen and (min-width:768px){
  footer .contenedor >div{
    width: 33.3%;
    float: left;
  }
}

footer h3{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
}
footer h3 span{
  color: #fe4918;
}

footer .ultimos-tweets li{
  margin-bottom: 10px;
}

footer nav.redes-sociales {
  text-align: left;
}

p.copyright{
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}